body{
    display: flex;
}

.cover_main{
    flex: 1;
    font-family: 'Righteous', cursive;
    font-size : 50px;
    justify-content: 'center';
    margin: 5%;
    margin-left: 20%;
}

.cover_sub{
    flex: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.cover_sub_content{
    flex: 1;
    display: flex;
    flex-direction: column;
    font-family: 'Nanum Myeongjo', serif;
    font-size : 20px;
    text-align: center;
    justify-content: center;
}

.h3{
    
}