body{
    background: whitesmoke;
}

.window{
    
    display: flex;
    flex-direction: row;
}

.container{
    border: 1px solid gray;
    width: 800px;
    height: 400px;
}

.box{
    width: 100px;
    height: 100px;
    background: yellow;
    border: 1px solid green;
}