*{
	padding: 0;
	margin: 0;
	list-style: none;
}

section{
	padding: 10px;
}

.tab .ul{
	display: flex;

	height: 61px;
}

.tab .ul .li{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;

	flex: 1;

	
	
	border-left: none;

	height: 60px;

	border-bottom: none;
}

.tab .ul .li:first-child{
	
}

.tab .ul .li .a{
	border: 1px solid gray;
	border-left: 1px solid gray;

	display: block;
	height: 60px;

	border-bottom: 1px solid blue;

	text-align: center;
	line-height: 60px;
	text-decoration: none;
}
 
.tab .ul .li .clickTab{
	border-color: blue;
	border-bottom: 1px solid white;
}